name: Android CI

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: project build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Verify Java & Gradle
      run: |
        java -version
        ./gradlew --version || true

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --no-daemon --stacktrace
